<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MAS_CMLEntities" connectionString="metadata=res://*/MAS_CMLEntities.csdl|res://*/MAS_CMLEntities.ssdl|res://*/MAS_CMLEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MAS_CML;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cmis_portal_uatEntities" connectionString="metadata=res://*/CMIS_Cart.csdl|res://*/CMIS_Cart.ssdl|res://*/CMIS_Cart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=cmis_portal_uat;user id=sa;password=pass123!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cmis_portal_uatEntities1" connectionString="metadata=res://*/ViewCart.csdl|res://*/ViewCart.ssdl|res://*/ViewCart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=cmis_portal_uat;user id=sa;password=pass123!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>