@model Punchout.Web.Models.hw_sites

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div id="content">
    <div id="centerColumn">
        <header>
            <h2>
                Checkout Complete
            </h2>

        </header>
        @*<div >
            <h1><a href="#">ChemicoMays PunchOut Portal</a></h1>
            <h2>World Leading Chemical Management Service Provider</h2>
        </div>*@
    </div>
</div>