
@{
    ViewBag.Title = "HSEApproval";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div id="content">
    <div id="centerColumn">
        <div>
            <h2>
                Adding New Items to Your Site's Catalog
            </h2>
            <div>
                <p>
                    If you wish to add items to the Chemico LLC Punchout Catalog please contact your Chemico LLC Supply Chain Analyst at:
                </p>

                <ul>
                    <li>Chemico Support</li>
                    <li>Direct:1 248-234-8314</li>
                    <li>E-mail: <a href="mailto:helpdesk@chemiollc.com?Subject=New%20Item%20Request">helpdesk@chemiollc.com</a></li>
                </ul>
                <p>
                    Please note that all new chemicals will require approval by your local Health, Safety and Environmental department prior to being added to the catalog.
                    Chemico LLC can assist in supplying chemical data to support the HS&E approval process.
                </p>
            </div>
            </div>
        </div>
        </div>

