@model Punchout.Web.Models.hw_sites

@{
    ViewBag.Title = "Index";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<div id="content">
    <div id="centerColumn">
        <div>
            <h2>
                <img src="~/Content/img/Chemico_Logo – 5.png"/>
            </h2>
            <p>
            </p>
            <p>
                Use the menus at the top to locate the product you wish to purchase.
            </p>
            <p>
                Learn more about <a href="http://www.chemicomays.com">Chemico.</a>
            </p>
        </div>
    </div>
</div>
