@model Punchout.Web.Models.hw_sites

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    

        <div id="centerColumn">
            <div align="left" style="margin-top:-414px;" >

                <h2>
                    @*<image src='Images/chemicoMaysLogoBlue.gif' border="0">*@
                  
                    <img src="~/Content/img/chemicoMaysLogoBlue.gif" />

                </h2>
                <p>

                </p>
                <p>
                    Use the menus at the left to locate the product you wish to purchase.
                </p>
                <p>
                    Learn more about <a href="http://www.chemicomays.com">ChemicoMays.</a>
                </p>
            </div>
        </div>
    </div>

