@model Punchout.Web.Models.hw_sites

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
   
</head>
<body>
    @if (Model.siteinfo != null)
    {

    <div  style="margin-top:20px; border-bottom:1px solid lightgrey">
        @using (Html.BeginForm("ProductList", "Home", FormMethod.Post, new { @name = "Form1" }))
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="select_site" class="text-nowrap label-name">Select Site:</label>
                      
                        @Html.DropDownListFor(m => m.site_code, new SelectList(Model.siteinfo, "site_code", "site_desc"), "--Select Site--", htmlAttributes: new { @class = "form-control radius", id = "ddlSite" })
                        @Html.Hidden("site_desc", null, new { @id = "hfsite_desc" })
                    <label id="nosite" class="ErrorText">Please select a site.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="item_code" class="label-name text-nowrap">Search Item Code:</label>
                        <input type="text" id="itemText" placeholder=""
                               class="form-control radius" name="itemText">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="instruction" class="label-name text-nowrap">Search Item Description:</label>
                        <input type="text" id="searchText" placeholder=""
                               class="form-control radius" name="searchText">

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" style="margin-top:19px;">
                        <button type="submit" id="search" class="btn btn-cancel" style="width:100%;" @*onclick="GetData()"*@>Search</button>
                    </div>

                </div>
            </div>
            }
        <div class="display-item mt-5">
            <div>
                <div class="form-group btn-align">
                    <label for="products" class="label-name text-nowrap">Show all products for your site:</label>
                    <input type="submit" value="Show All" class="btn btn-showall" onclick="location.href='@Url.Action("ProductListBySite", "Home")?site_code=' + $('#ddlSite').val()" />

                </div>
            </div>
          
            <div>
                <div class="form-group btn-align" id="dvPassport">
                    <label for="cancel_shopping" class="label-name text-nowrap">Cancel Shopping:</label>
                    <input type="button" value="Cancel" id="buttonID" onclick="myFunction()" class=" btn btn-cancel js-click" />
                </div>
            </div>
        </div>
        
    </div>
        



            <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script type="text/javascript">
            $(document).ready(function () {
                if ($("#ddlSite").find("option:selected").val() == '') {
                    $("#dvPassport").hide();
                    $('#ddlSite').prop('disabled', false);
                    $('#nosite').show();
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#dvPassport").show();
                    $('#ddlSite').prop('disabled', true);
                    $('#nosite').hide();
                    $(':input[type="submit"]').prop('disabled', false);
                }
            });
            $("#ddlSite").change(function () {

           var sitedesc= $("#hfsite_desc").val($(this).find("option:selected").text());
            document.forms["Form1"].submit();
        });
            function myFunction() {
                var x;
                if (confirm("Are you sure you want to cancel your current shopping visit?  This will remove all items in your shopping cart and reset your site.!") == true) {
                    window.location.href='@Url.Action("CancelSite", "Home")'

                } else {
                    return false;
                }
            }
            </script>
            <script>
                $(document).ready(function () {
                    $(".js-click").click(function () {
                        $(".js-click").css('background', '-webkit-linear-gradient(top, #4184c3 0%,#254562 100%)','color','White');
                    });
                });
            </script>
        }
    </body>
</html>