@model Punchout.Web.Models.hw_sites

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @if (Model.siteinfo != null)
    {
        <div>
            @using (Html.BeginForm("ProductList", "Home", FormMethod.Post, new { @name = "Form1" }))
            {
                <div class="row">
                    Select Site:
                </div>
                <div class="row">
                    @Html.DropDownListFor(m => m.site_code, new SelectList(Model.siteinfo, "site_code", "site_desc"), "--Select Site--", htmlAttributes: new { @class = "form-control", id = "ddlSite" })
                    @Html.Hidden("site_desc", null, new { @id = "hfsite_desc" })
                </div>
                <br />
                <div class="row">
                    Search Item Code:
                </div>
                <div class="row">
                    <input type="text" name="itemText" id="itemText" />
                </div>
                <br />
                <div class="row">
                    Search Item Description:
                </div>
                <div class="row">
                    <input type="text" name="searchText" id="searchText" />
                </div>
                <br />
                <div class="row">
                    @*<input type="button"
                        value="Go Somewhere Else"
                        onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />*@
                    <button type="submit" id="search" @*onclick="GetData()"*@>Search</button>
                    @*<input type="button" value="Search" onclick="location.href='<%:Url.Action(" ProductListByItemCode","Home")%>'"/>*@
                </div>
                <br />
                <div class="row">
                    Show all products for your site
                </div>
                <div class="row">
                    <input type="submit"  value="Show All" />
                </div>
            }
            <br />
            <div id="dvPassport" style="display: none">
                <div class="row">
                    Cancel Shopping
                </div>
                <div class="row">
                    @*@Html.ActionLink("Cancel", "CancelSite",
    "home", new { @class = "btn btn-default", @role = "button", @onclick = "return confirm('Are you sure you want to cancel your current shopping visit?  This will remove all items in your shopping cart and reset your site.!')" })*@
                    <input type="button" value="Cancel" id="buttonID" onclick="myFunction()" />
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if ($("#ddlSite").find("option:selected").val() == '') {
                    $("#dvPassport").hide();
                    $('#ddlSite').prop('disabled', false);
                } else {
                    $("#dvPassport").show();
                    $('#ddlSite').prop('disabled', true);
                }
            });
            $("#ddlSite").change(function () {

           var sitedesc= $("#hfsite_desc").val($(this).find("option:selected").text());
            document.forms["Form1"].submit();


        });

            //$(function () {
            //    $("#buttonID").click(function (event) {
            //        event.preventDefault();
            //        $('<div title="Confirm Box"></div>').dialog({
            //            open: function (event, ui) {
            //                $(this).html("Yes or No question?");
            //            },
            //            close: function () {
            //                $(this).remove();
            //            },
            //            resizable: false,
            //            height: 140,
            //            modal: true,
            //            buttons: {
            //                'Yes': function () {
            //                    $(this).dialog('close');
            //                    $.post('url/theValueYouWantToPass');

            //                },
            //                'No': function () {
            //                    $(this).dialog('close');
            //                    $.post('url/theOtherValueYouWantToPAss');
            //                }
            //            }
            //        });
            //    });
            //});






            function myFunction() {
                var x;
                if (confirm("Are you sure you want to cancel your current shopping visit?  This will remove all items in your shopping cart and reset your site.!") == true) {
                    window.location.href='@Url.Action("CancelSite", "Home")'
                    //return true;
                 @*@Html.ActionLink("CancelSite", "Home")*@

                } else {
                    return false;
                }
            }
        </script>
        @*@Html.ActionLink("ClicktoConfirm", "Home", null, new { onclick = "return myFunction()" })*@
    }
</body>
</html>