/* */
/*-------------------------------------------------------------- # General --------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    background: #4184c3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4184c3 0%, #254562 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4184c3 0%,#254562 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
    /* IE6-9 */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
/*-------Custom scroll bar-----*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #afadad;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #afadad;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #afadad;
    }

::-webkit-scrollbar-track {
    background: #cccccc;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #cccccc;
    }

    ::-webkit-scrollbar-track:active {
        background: #cccccc;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}
/*-------Custom select box------*/
.custom-select-reports {
    position: relative;
    font-family: Arial;
}

    .custom-select-reports select {
        display: none;
    }

.custom_select {
    border: 0;
    box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    border-radius: 5px;
    padding: 8px 10px;
    color: #32689A;
    font-size: 13px;
}
.custom_select:focus,ul#dt li input:focus {
   outline: none;
}
ul#dt {
    padding: 30px 0;
    display: flex;
    margin-left: -14px;
}

ul#dt li label {
    color: #32689A;
    font-size: 14px;
   
}
ul#dt li  {
   display: block;
}

ul#dt li input{
    font-size: 15px;
    border:1px solid #32689A;
    border-radius:3px;
    color: #32689A;
    padding-left:5px;
}
span.select2-selection.select2-selection--single {
    border: 0;
    box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    font-size: 13px;
    color: #32689A;
    border-radius: 10px;
    height: 33px;
    padding: 2px 10px;
    width: 200px;
}
span#select2-lstReport-container {
    /* line-height: 32px; */
    color: #32689A;
    /* height: 49px; */
}
input.select2-search__field {
    display: none;
}
span.select2-dropdown.select2-dropdown--below {
    border: 0;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: none;
    margin-top: 1px;
}
.select2-results__option--selectable {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgba(204,204,204,0.4);
    padding: 5px 16px;
    box-shadow: none;
    background: #ece5e5;
    font-size: 13px;
    color: #32689A;
    width:200px;
}
.select2-search--dropdown {
    padding: 0;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #e4d8d8;
    color: #32689A;
}
.select2-container--default .select2-results__option--selected {
     background: #ece5e5;
}
span.select2-dropdown.select2-dropdown--below {
    width: 200px!important;
    background: transparent;
}
span.select2-selection.select2-selection--single:focus {
    outline: 0;
}
.select2-container {
    width: 200px!important;
}

.select-selected {
    background-color: #ffffff;
}

    .select-selected:after {
        position: absolute;
        content: "";
        top: 12px;
        right: 10px;
        background: url("../img/down-arrow.png")no-repeat;
        width: 16px;
        height: 10px;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 12px;
    }

.select-items div, .select-selected {
    color: #32689A;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    border-radius: 10px;
    font-size: 12px;
}

.select-items div {
    border-radius: 8px;
    border: 1px solid rgba(204,204,204,0.4);
    padding: 5px 16px;
    box-shadow: none;
    background: #ece5e5;
}

.select-items {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #e4d8d8;
}
/*-------------------------------------------------------------- # Header --------------------------------------------------------------*/
.menu-toggle-wrap {
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    position: absolute;
    border: 1px solid #d4d4d4;
    z-index: 2;
}

    .menu-toggle-wrap ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .menu-toggle-wrap ul li a {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color: #666666;
        }

        .menu-toggle-wrap ul li:not(:last-child) {
            border-bottom: 1px solid #d4d4d4;
        }

        .menu-toggle-wrap ul li:hover a {
            color: #4184C3;
        }
/*-------------------------------------------------------------- # Login form --------------------------------------------------------------*/
.login-wrppper .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
}

.login-left-wrap, .login-right-wrap {
    background: url('../img/login-left-bg.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    width: 50%;
    display: inline-block;
    float: left;
}

    .login-left-wrap:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: '';
        background: rgba(50,104,154,0.5);
    }

    .login-left-wrap a {
        display: inline-block;
    }

        .login-left-wrap a.login-logo {
            position: absolute;
            left: 50%;
            margin-left: -150px;
            top: 50%;
            margin-top: -50px;
        }

            .login-left-wrap a.login-logo img {
                max-width: 360px;
            }

    .login-left-wrap .copyright-text, .login-right-wrap .copyright-text {
        position: absolute;
        bottom: 20px;
        left: 50px;
    }

        .login-left-wrap .copyright-text p, .login-right-wrap .copyright-text p {
            color: #fff;
        }

.login-right-wrap {
    background: url('../img/login-right-bg.png');
    background-size: cover;
    background-color: #32689A;
}

.login-form-container {
    width: 80%;
    margin: auto;
    position: absolute;
    left: 50%;
    margin-left: -270px;
    top: 30%;
    margin-top: -50px;
}

    .login-form-container .panel-heading h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 400;
        color: #fff;
    }

    .login-form-container .login-btn {
        background: #fff;
        color: #32689A;
        font-size: 20px;
        font-weight: 700;
        width: 200px;
        height: 45px;
        border-radius: 6px;
    }

    .login-form-container .form-group {
        position: relative;
    }

        .login-form-container .form-group.user-field img {
            position: absolute;
            top: 32%;
            left: 12px;
        }

        .login-form-container .form-group.password-field img {
            position: absolute;
            top: 25%;
            left: 12px;
        }

    .login-form-container .user-field input, .login-form-container .password-field input {
        background: transparent;
        border: 1px solid #fff;
        padding: 15px 5px;
        color: #fff;
        padding-left: 50px;
        border-radius: 8px;
    }

    .login-form-container .checkbox label {
        color: #fff;
    }

    .login-form-container input::-webkit-input-placeholder {
        color: #fff;
    }

    .login-form-container input:-moz-placeholder {
        color: #fff;
    }

    .login-form-container input::-moz-placeholder {
        color: #fff;
    }

    .login-form-container input:-ms-input-placeholder {
        color: #fff;
    }

    .login-form-container input::-ms-input-placeholder {
        color: #fff;
    }

    .login-form-container input::placeholder {
        color: #fff;
    }
/*-------------------------------------------------------------- # Navigation --------------------------------------------------------------*/
.sidebar-wrap {
    position: relative;
    height: 100vh;
    width: 95px;
}

    .sidebar-wrap .main-menu {
        position: absolute;
        top: 5%;
    }

.main-menu .nav-item {
    text-align: center;
    width: 100%;
}

    .main-menu .nav-item:hover, .main-menu .nav-item.active {
        background: #fff;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-right: 0px;
    }

    .main-menu .nav-item a {
        height: 80px;
        color: #fff;
        height: 100px;
        text-align: center;
        margin: auto;
    }

        .main-menu .nav-item a.home {
            background: url(../img/home-white.png)no-repeat;
            background-position: 35px 15px;
        }

            .main-menu .nav-item a.home:hover, .main-menu .nav-item.active a.home {
                background: url(../img/home-blue.png)no-repeat;
                background-position: 35px 15px;
            }

        .main-menu .nav-item a.reports {
            background: url(../img/reports-white.png)no-repeat;
            background-position: 35px 15px;
        }

            .main-menu .nav-item a.reports:hover, .main-menu .nav-item.active a.reports {
                background: url(../img/reports-blue.png)no-repeat;
                background-position: 35px 15px;
            }

        .main-menu .nav-item a.catalog {
            background: url(../img/catalog-white.png)no-repeat;
            background-position: 35px 15px;
        }

            .main-menu .nav-item a.catalog:hover, .main-menu .nav-item.active a.catalog {
                background: url(../img/catalog-blue.png)no-repeat;
                background-position: 35px 15px;
            }

        .main-menu .nav-item a.requests {
            background: url(../img/request-white.png)no-repeat;
            background-position: 35px 15px;
        }

        .main-menu .nav-item a.lnkAccount {
            background: url(../img/user.png)no-repeat;
            background-position: 35px 15px;
        }

        .main-menu .nav-item a.lnkabout {
            background: url(../img/info.png)no-repeat;
            background-position: 35px 15px;
        }

        .main-menu .nav-item a.requests:hover, .main-menu .nav-item.active a.requests {
            background: url(../img/request-blue.png)no-repeat;
            background-position: 35px 15px;
        }

        .main-menu .nav-item a.account:hover, .main-menu .nav-item.active a.account {
            background: url(../img/request-blue.png)no-repeat;
            background-position: 35px 15px;
        }

        .main-menu .nav-item a.about:hover, .main-menu .nav-item.active a.about {
            background: url(../img/request-blue.png)no-repeat;
            background-position: 35px 15px;
        }

        .main-menu .nav-item a:hover, .main-menu .nav-item.active a {
            background: #fff;
            color: #32689A;
        }

        .main-menu .nav-item a span {
            margin-top: 50px;
            display: inline-block;
        }
/*-------------------------------------------------------------- # Dashboard --------------------------------------------------------------*/
.dashboard-wrapper {
    height: 100vh;
}

.sidebar-wrap, .right-wrapper {
    display: inline-block;
    float: left;
}

.right-wrapper {
    width: calc(100% - 95px);
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 15px;
    background: #F2F7FF;
    border-bottom-left-radius: 15px;
    padding: 0 20px 0 0;
}

.dashboard-wrapper .right-wrapper {
    overflow-y: scroll;
}

.middle-wrapper {
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    /*height: calc(100vh - 15px);*/
}

}

.middle-wrapper .user-name h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #505050;
}

.memu-img path {
    fill: red;
}

.task-details-wrap {
    width: 100%;
    overflow: hidden;
    display: block;
}

.task-details {
    width: 55%;
}

    .task-details button {
        display: flex;
        float: left;
        flex-wrap: wrap;
        width: 119px;
        padding: 10px 0px;
        white-space: inherit;
        align-items: center;
        background: transparent;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
        box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
        margin: 10px;
    }

        .task-details button span:first-child {
            width: calc(40% - 5px);
            margin: 5px;
        }

            .task-details button span:first-child img {
                width: 24px;
            }

        .task-details button span:last-child {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #a0a0a0;
            width: 45%;
            text-align: left;
        }

h3.sub-heading {
    color: #32689A;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.catalogs-list ul {
    list-style: none;
}

    .catalogs-list ul li {
        width: calc(28% - 20px);
        display: inline-block;
        border-radius: 20px;
        -webkit-box-shadow: 0px 1px 12px 1px rgba(65,132,195,0.2);
        -moz-box-shadow: 0px 1px 12px 1px rgba(65,132,195,0.2);
        box-shadow: 0px 1px 12px 1px rgba(65,132,195,0.2);
        margin-right: 20px;
        padding: 15px;
    }

        .catalogs-list ul li:first-child {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4184c3+1,254562+100 */
            background: #4184c3;
            /* Old browsers */
            background: -moz-linear-gradient(top, #4184c3 1%, #254562 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #4184c3 1%,#254562 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #4184c3 1%,#254562 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
            /* IE6-9 */
            color: #fff;
        }

        .catalogs-list ul li:last-child {
            width: 16%;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            display: flex;
            box-shadow: none;
            font-size: 14px;
            font-weight: 500;
        }

        .catalogs-list ul li p {
            margin-bottom: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 12px;
        }

        .catalogs-list ul li:not(:first-child) p {
            color: #aoaoao;
        }

        .catalogs-list ul li h4 {
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            height: 40px;
        }

        .catalogs-list ul li:not(:first-child) h4 {
            color: #32689A;
        }

.middle-bottom-content-inner {
    -webkit-box-shadow: 0px 2px 3px 1px rgba(65,132,195,0.3);
    -moz-box-shadow: 0px 2px 3px 1px rgba(65,132,195,0.3);
    box-shadow: 0px 2px 3px 1px rgba(65,132,195,0.3);
    border-radius: 10px;
    padding: 5px 15px;
    max-height: 200px;
    overflow-y: scroll;
}

    .middle-bottom-content-inner .task-row {
        display: flex;
        border-bottom: 1px solid rgba(212,212,212,0.7);
        padding: 5px;
    }

.task-row .task-date span, .task-row .task-description span, .task-row .task-time span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0 5px;
}

.task-row .task-date {
    width: 20%;
}

    .task-row .task-date span {
        color: #505050;
    }

.task-row .task-description {
    width: 60%;
}

    .task-row .task-description span {
        color: #303030;
    }

.task-row .task-time {
    width: 20%;
}

    .task-row .task-time span {
        color: #a0a0a0;
    }

.right-ex-wrapper {
    background: #F2F7FF;
}

.my-account-wrap {
    display: block;
    /*width: 100%;*/
    overflow: hidden;
}

.my-account span:first-child {
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

.my-account a.menu-toggle {
    display: inline-block;
}

.my-account span:last-child {
    background: #fff;
    border-radius: 50%;
    padding: 6px 4px;
    text-align: center;
    width: 38px;
    display: inline-block;
    height: 38px;
    margin: auto;
}

    .my-account span:last-child img {
        width: 25px;
    }

.right-ex-wrapper .portal-information {
    -webkit-box-shadow: 0px 1px 12px 1px rgba(65,132,195,0.2);
    -moz-box-shadow: 0px 1px 12px 1px rgba(65,132,195,0.2);
    box-shadow: 0px 1px 12px 1px rgba(65,132,195,0.2);
    border-radius: 15px;
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}

    .right-ex-wrapper .portal-information p, .right-ex-wrapper .portal-information .news-item p {
        color: #505050;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    .right-ex-wrapper .portal-information span {
        display: block;
        overflow: hidden;
    }

.news-items-wrap {
    overflow-y: scroll;
    height: calc(100vh - 410px);
    padding-right: 5px;
}

.right-ex-wrapper .portal-information .news-item {
    margin-bottom: 15px;
}

    .right-ex-wrapper .portal-information .news-item h4 {
        color: #303030;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    .right-ex-wrapper .portal-information .news-item p {
        font-size: 12px;
        margin-bottom: 0px;
    }
/*------- # Reports -------------*/
.reports-wrapper .right-wrapper {
    padding: 0;
    /*height: auto !important*/
    height: 100vh !important;
    background: #fff;
}

.reports-wrapper .middle-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /*height:auto !important;
     overflow-y: scroll;*/
}

.reports-wrapper .middle-bottom-content {
    /*height:350px;*/
}

.report-filters-wrap {
    margin-top: 30px;
}

    .report-filters-wrap ul {
        padding: 0;
        margin: 0;
    }

        .report-filters-wrap ul li {
            list-style: none;
            display: inline-block;
            margin-right: 15px;
        }

            .report-filters-wrap ul li:last-child a, .myaccount-wrap .update-btn {
                font-size: 14px;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                color: #fff;
                padding: 10px 20px;
                border-radius: 10px;
                background: #4184c3;
                background: -moz-linear-gradient(top, #4184c3 0%, #254562 100%);
                background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);
                background: linear-gradient(to bottom, #4184c3 0%,#254562 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
            }

                .report-filters-wrap ul li:last-child a:focus {
                    border: none;
                    box-shadow: none !important;
                }

.reports-heading-wrap {
    display: flex;
}

.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border: none;
    table-layout: fixed;
}

table.table-scroller tbody {
    display: block;
    overflow: auto;
    white-space: nowrap;
    max-height: 350px;
}

.tftable th {
    font-size: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    text-align: left;
    border: none;
}

.tftable tr:first-child {
    background: #4184c3;
    background: -moz-linear-gradient(top, #4184c3 0%, #254562 100%);
    background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);
    background: linear-gradient(to bottom, #4184c3 0%,#254562 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
}

.tftable th.item-code, .tftable th.description, .tftable th.warehouse-code {
    width: 140px;
}

.tftable th {
    width: 140px;
}

.request-history-wrapper .tftable th {
    width: 200px;
}

.tftable th, .tftable td {
    padding: 8px 15px !important;
}

.tftable td {
    font-size: 12px;
    padding: 8px;
    border: none;
}

.tftable tr:hover {
    background-color: #ffffff;
}

.tftable th:first-child {
    border-top-left-radius: 10px;
}

.tftable th:last-child {
    border-top-right-radius: 10px;
}

.report-pagination {
    display: flex;
}

    .report-pagination .show-results {
        font-size: 12px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        color: #a0a0a0;
    }

/*------- # Catalog -------------*/
.catalog-description {
    margin-left: 100px;
}

    .catalog-description p {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: #666666;
        font-weight: 400;
    }

.catalog-headings-wrap ul li {
    margin-right: 5px;
}

    .catalog-headings-wrap ul li.use a, .catalog-headings-wrap ul li.remove a, .catalog-wrapper .add-btn {
        font-size: 12px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        padding: 6px 17px;
        border-radius: 10px;
        background: #4184c3;
        background: -moz-linear-gradient(top, #4184c3 0%, #254562 100%);
        background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);
        background: linear-gradient(to bottom, #4184c3 0%,#254562 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
    }

    .catalog-headings-wrap ul li.remove a, .catalog-wrapper .add-btn {
        background: transparent;
        border: 1px solid #32689A;
        color: #32689A;
    }

        .catalog-headings-wrap ul li.remove a:focus {
            border: 2px solid #32689A;
        }

.catalog-heading-wrap-right .search-box form {
    position: relative;
}

    .catalog-heading-wrap-right .search-box form input {
        -webkit-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
        box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

        .catalog-heading-wrap-right .search-box form input::-webkit-input-placeholder {
            color: #d4d4d4;
        }

        .catalog-heading-wrap-right .search-box form input::-moz-placeholder {
            color: #d4d4d4;
        }

        .catalog-heading-wrap-right .search-box form input:-ms-input-placeholder {
            color: #d4d4d4;
        }

        .catalog-heading-wrap-right .search-box form input:-moz-placeholder {
            color: #d4d4d4;
        }

    .catalog-heading-wrap-right .search-box form button {
        position: absolute;
        right: 0;
        cursor: pointer;
        border: none;
        height: 100%;
        background: #4184c3;
        background: -moz-linear-gradient(top, #4184c3 0%, #254562 100%);
        background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);
        background: linear-gradient(to bottom, #4184c3 0%,#254562 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }

        .catalog-heading-wrap-right .search-box form button img {
            width: 20px;
        }

.catalog-wrapper .add-btn {
    padding: 6px 12px;
}

    .catalog-wrapper .add-btn span {
        font-weight: 300;
        font-size: 16px;
    }

/*------- # Request History -------------*/
.request-history-wrapper .report-filters-wrap .request-number-search {
    border: none;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.request-history-wrapper .middle-wrapper {
    height: 100vh !important;
}

.request-history-wrapper .report-filters-wrap .request-number-search::-webkit-input-placeholder {
    color: #d4d4d4;
}

.request-history-wrapper .report-filters-wrap .request-number-search::-moz-placeholder {
    color: #d4d4d4;
}

.request-history-wrapper .report-filters-wrap .request-number-search:-ms-input-placeholder {
    color: #d4d4d4;
}

.request-history-wrapper .report-filters-wrap .request-number-search:-moz-placeholder {
    color: #d4d4d4;
}

.request-history-wrapper .tftable td.workflow, .request-history-wrapper .tftable td .expand {
    color: #4184C3;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.request-history-wrapper .tftable td span {
    color: #a0a0a0;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    display: inline-block;
}

    .request-history-wrapper .tftable td span.hidden-data {
        display: none;
    }

.request-history-wrapper .tftable td .expand, .task-list-table td .expand {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
}

.task-list-table.tftable th {
    width: 20% !important;
}
/*.request-history-wrapper .tftable td span{display: none;}*/


/*------- # My Account -------------*/
.myaccount-wrapper {
    margin-top: 40px;
}

.account-info-wrap, .going-out-wrap, .account-details-wrap {
    -webkit-box-shadow: 0px 0px 10px -3px rgba(65,132,195,0.3);
    -moz-box-shadow: 0px 0px 10px -3px rgba(65,132,195,0.3);
    box-shadow: 0px 0px 10px -3px rgba(65,132,195,0.3);
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
}

    .account-info-wrap td:first-child, .account-info-wrap td:last-child {
        font-size: 12px;
        color: #666666;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }

    .account-info-wrap td:last-child {
        color: #303030;
        font-size: 14px;
        padding-left: 20px;
    }

    .account-details-wrap .change-pd {
        margin: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #4184C3;
        font-family: 'Roboto', sans-serif;
    }

    .account-details-wrap td:last-child {
        padding-left: 20px;
    }
/*.going-out-wrap .checkbox input{margin-left:5px;}  */


/*------- # My Account Usecase-------------*/
.myaccount-wrap .select-selected {
    border: 1px solid #32689A;
    color: #32689A;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.myaccount-wrap .update-btn a {
    color: #fff;
    padding: 5px 15px;
}

.pagination ul.pagination li:first-child a, .pagination ul.pagination li:last-child a {
    box-shadow: none;
    font-weight: 500;
    font-size: 15px;
}

.pagination-sm .page-link {
    border: none;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(65,132,195,0.3);
    -moz-box-shadow: 0px 0px 10px -3px rgba(65,132,195,0.3);
    box-shadow: 0px 0px 10px -3px rgba(65,132,195,0.3);
    border-radius: 8px;
    margin: 3px;
    padding: 5px 12px;
    color: #32689A;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

    .pagination-sm .page-link.active {
        color: #fff;
        background: #4184c3;
        background: -moz-linear-gradient(top, #4184c3 0%, #254562 100%);
        background: -webkit-linear-gradient(top, #4184c3 0%,#254562 100%);
        background: linear-gradient(to bottom, #4184c3 0%,#254562 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4184c3', endColorstr='#254562',GradientType=0 );
    }



/*Table header fixed*/



/*------- # Responsive-------------*/

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .login-form-container {
        margin-left: -200px;
    }
}

@media only screen and (max-width: 991px) {
    .login-left-wrap {
        display: none;
    }

    .login-form-container {
        left: 0;
        right: 0;
        margin: auto;
    }

    .login-right-wrap a.login-logo {
        position: absolute;
        left: 50%;
        margin-left: -150px;
        top: 15%;
        margin-top: -50px;
    }

    .login-right-wrap {
        background: url(../img/login-left-bg.png);
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        position: relative;
        width: 100%;
        display: inline-block;
        float: left;
    }

        .login-right-wrap:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: '';
            background: rgba(50,104,154,0.8);
        }

        .login-right-wrap a.login-logo img {
            max-width: 260px;
        }

    .login-form-container {
        top: 30%;
    }

    .login-right-wrap .copyright-text {
        left: 69px;
    }

    .report-filters-wrap {
        margin-top: 0;
    }

        .report-filters-wrap ul li {
            width: calc(220px - 20px);
            margin-top: 25px;
        }

    .reports-heading-wrap-left, .reports-heading-wrap-right {
        max-width: 50%;
    }

        .reports-heading-wrap-right .report-filters-wrap ul li {
            width: 24px;
            margin-top: 0;
        }

            .reports-heading-wrap-right .report-filters-wrap ul li:first-child {
                width: calc(220px - 20px);
            }

    .catalog-wrapper .report-filters-wrap ul li {
        width: auto;
        margin-top: 0;
    }

    .catalog-wrapper .reports-heading-wrap-right .report-filters-wrap ul li:first-child {
        width: auto;
        display: block;
        margin-bottom: 20px;
    }

    .catalog-wrapper .reports-heading-wrap-left .report-filters-wrap .remove {
        margin-top: 24px;
    }

    .request-history-wrapper .report-filters-wrap ul li:last-child {
        width: 100px;
    }
}

@media only screen and (max-width: 1199px) {
    .task-details {
        width: 100%;
    }

        .task-details button {
            width: 109px;
            margin: 5px;
        }

    .catalogs-list ul li {
        width: calc(50% - 30px);
        margin-bottom: 10px;
    }

        .catalogs-list ul li:last-child {
            display: inline-block;
            width: calc(50% - 30px);
        }

    .middle-bottom-content-inner {
        overflow-x: scroll;
    }

    .task-row .task-date {
        width: 240px !important;
    }

    .task-row .task-description {
        width: 300px !important;
    }

    .task-row .task-time {
        width: 200px !important;
    }

    .catalog-description {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .middle-wrapper {
        height: calc(100vh - 15px);
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
}

@media only screen and (min-width: 768px) and (max-width:1199px) {
}


.task-list-table td span.hidden-data {
    display: none;
}


/*-----EditUser-------*/
/*.report-filters-wrap.account_editUser ul li label {
    display: block;
    color: #32689A;
    margin-bottom: 5px;
    font-size: 14px;
}
.report-filters-wrap.account_editUser ul li{margin-bottom:20px;}

span.multi-select-button {
    box-shadow: 0px 0px 10px 2px rgba(65,132,195,0.1);
    border: 0;
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
}
span.multi-select-button:focus{outline:0;}
.multi-select-menu {
    overflow: auto!important;
    max-height: none!important;
}*/

.lable-report {
    color: #32689A;
    font-family: Arial;
    font-size: 12px;
    font-weight: inherit;
}
