@model Punchout.Web.Models.hw_sites
@{
    ViewBag.Title = "Index";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Complete</title>
    @*<link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Styles/Style.css" rel="stylesheet" type="text/css" />*@
</head>
<body>
    <div style="float: left;">
        <h1><a href="#">ChemicoMays PunchOut Portal</a></h1>
        <h2>World Leading Chemical Management Service Provider</h2>
    </div>
</body>
</html>
